*{
    padding: 0px;
    margin: 0px;
    font-family: "inter";
   
}

#menu-superior{
    background: #303030;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.texto-superior{
    padding-left: 50px;   
}

#titulo-superior{
    padding-top: 150px; /*ir ajustando essa parte*/
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 120% */
    letter-spacing: -1.5px;      
}

#texto-superior{
    padding-bottom: 140px; /*ir ajustando essa parte*/
    color: #FFF;
    line-height: 28px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#coluna-informacional{
    background: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;

}

.colunas{
    padding: 50px 30px 10px 150px;

}

.texto-informativo{
    padding: auto;
}

.menu-centro{
    max-width: 100px;
}

#titulo-centro{
    margin: 50px 30px 10px 120px;
    padding-bottom: 5px;
    color: #000;
}

.informaçao-titulo{
    align-items: center;
    padding-top: 220px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seção-texto-foto{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 10px;
    padding: 30px;
    align-items: center;
}

#titulo-centro{
   font-size: 40px;
    font-weight: 500;
    line-height: 20px;

}

#texto-centro{
    padding: 10px 20px 0px 120px;  
    font-size: 24px;
    padding-top: 5%;
    line-height: 30px;
}

#informação-imagem{
    width: 510px;
    height: 605px;
    left: 976px;
    padding-top: 40px;
    padding-bottom: 35px;
    border-radius: 30px;
}

#formulario{
    background-color: #303030;
    text-align: center;
}

#titulo-formulario{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 10px;
}

input{
    width: 308px;
    height: 42px;
    font-size: 15px;
    background-color: #FFFFFF;
    font-family: "raleway";
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding-left: 10px;
}

button{
    width: 170px;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    font-family: "raleway";
    color: #FFFFFF;
    background: #C07212;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #d68d34;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    color: white;
    box-shadow: 2px 7px 9px #9c5906;
}
